.card {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 8px;
}

.thead {
    background-color: #f4f5f7;
}

.tbody {
    height: 60vh;
}

th,
td {
    padding: 1rem;
    color: #4b5563;
}

.tbody > tr {
    cursor: pointer;
}